﻿@model DotNetTraining.ApplicationFacade.AgencyFacadeItem
@using DotNetTraining.Web.Helpers;
@{
    ViewBag.Title = "Edit Agency";
}

<h2>Edit Agency</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/dot.net.training.js"></script>
<link href="~/Content/DotNetTraining.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "Agency", FormMethod.Post, new { enctype = "multipart/form-data", runat = "server" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LogoImageName)

        @{
            var srvLogoPath = DependencyResolver.Current.GetService<DotNetTraining.Web.Providers.IConfigurationProvider>().AgencyLogoFolder;
            var srvLogoSrc = srvLogoPath + Model.Id.ToString() + "/" + Model.LogoImageName;
        }
        <div class="form-group">
            @Html.LabelFor(model => model.LogoImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.LogoImageFor(@Url.Content(@srvLogoSrc), "LogoFile")
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 4, 40, null)
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--<p id="file">ewre</p>-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">@ViewData["SaveSuccessful"]</div>
        </div>
    </div>
}

@section Scripts {

    <script type="text/javascript">
        var onInputLogoFileField = function (event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var filePath = input.files[0].name;
                var fileName = filePath.replace(/^.*[\\\/]/, '');

                $('#LogoImageName').val(fileName);
                //$('#file').html(fileName);

                var fldName = '#image_for_' + input.name;
                var imdFld = $(fldName);
                displayUserImage(input, imdFld);
            }
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
