﻿@model IEnumerable<DotNetTraining.ApplicationFacade.HotelFacadeItem>

@{
    ViewBag.Title = "Hotel Manager";
}

<div id="list-of-hotels">
    <div class="form-group" v-if="hotelManagment === 'list'">
        <h2>Hotels</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationId)
                </th>
                <th></th>
            </tr>
            <tr v-for="item in hotelList">
                <td>{{ item.name }}</td>
                <td>{{ item.stars }}</td>
                <td>{{ item.locationName }}</td>
                <td><edit-button v-bind:hotel-id="item.id" v-on:edit-click="editHotel"></edit-button></td>
            </tr>
        </table>

        <div class="form-group" style="text-align: right">
            <hr />
            <button v-on:click="createNewHotel">Create new hotel</button>
        </div>
        </div>
    <div id="hotel-edit" v-if="hotelManagment === 'edit'">
        <div class="form-group">
            <label class="control-label col-md-2" for="HotelName">@Html.DisplayNameFor(model => model.Name)</label>
            <div class="col-md-10">
                <input v-model="hotel.name" class="form-control text-box single-line" id="HotelName" name="HotelName" type="text" value="" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HotelStars">@Html.DisplayNameFor(model => model.Stars)</label>
            <div class="col-md-10">
                <table style="width:60%">
                    <tr>
                        <td>
                            <input type="radio" id="one" value="1" v-model="hotel.stars" />
                            <label for="one">1</label>
                        </td>
                        <td>
                            <input type="radio" id="two" value="2" v-model="hotel.stars" />
                            <label for="two">2</label>
                        </td>
                        <td>
                            <input type="radio" id="three" value="3" v-model="hotel.stars" />
                            <label for="three">3</label>
                        </td>
                        <td>
                            <input type="radio" id="four" value="4" v-model="hotel.stars" />
                            <label for="four">4</label>
                        </td>
                        <td>
                            <input type="radio" id="five" value="5" v-model="hotel.stars" />
                            <label for="five">5</label>
                        </td>
                    </tr>
                    <!--<input v-model="hotel.stars" class="form-control text-box single-line" id="HotelStars" name="HotelStars" type="text" value="" />-->
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HotelLocation">Location</label>
            <div class="col-md-10">
                <select v-model="hotel.locationId" id="HotelLocation" name="HotelLocation">
                    <option v-for="location in locationList" v-bind:value="location.key">
                        {{ location.value }}
                    </option>
                </select>
                <!--<input v-model="hotel.locationName" class="form-control text-box single-line" id="HotelLocation" name="HotelLocation" type="text" value="" />-->
            </div>
        </div>

        <button v-on:click="cancelEdit">Cancel</button>
        <button v-on:click="saveHotel">Save</button>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        System.import('/scripts/app/app.js').then(module => module.App.init());
    </script>
}
