﻿
@{
                /**/

                ViewBag.Title = "index";
}

<h2>index</h2>

<div id="orderRoot"></div>

@section Scripts
{
    <script type="text/javascript" src="~/scripts/app/dotnettraining.js"></script>
}
