﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    Navigation
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(".Net retraining", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admins"))
                        {
                            <li>@Html.ActionLink("Manage Locations", "Index", "Location")</li>
                        }
                        if (User.IsInRole("Admins") || User.IsInRole("Agents"))
                        {
                            <li>@Html.ActionLink("Manage Agency", "Edit", "Agency")</li>
                        }
                        if (User.IsInRole("Admins") || User.IsInRole("Agents"))
                        {
                            <li>@Html.ActionLink("Manage Hotels", "Index", "Hotel")</li>
                        }
                        if (User.IsInRole("Admins"))
                        {
                            <li>@Html.ActionLink("Run Synchronization", "Sync", "Home")</li>
                        }
                        if (User.IsInRole("Admins") || User.IsInRole("Agents"))
                        {
                            <li>@Html.ActionLink("Test Order page", "Index", "Order")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/systemjs")
    @RenderSection("Scripts", required: false)
</body>
</html>
