﻿.floating_label {
    background-color: Black;
    filter: alpha(opacity=30);
    opacity: 0.3;
    position: absolute;
    display: block;
    color: White;
    font-family: Arial;
    font-size: 10pt;
    text-align: center;
}
